UCAM-CL-TR-947.pdf
bib.bib
cheri_compartments.aux
cheri_compartments.bbl
cheri_compartments.blg
cheri_compartments.log
cheri_compartments.out
cheri_compartments.pdf
cheri_compartments_preamble.fmt
cheri_compartments_preamble.log

